// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
@import url(https://fonts.googleapis.com/css?family=Nunito:regular&display=swap);
// Подключить если есть локальные файлы шрифтов
//@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Nunito";
$fontSize: 16px; // где 14(px) - размер шрифта по умолчанию из макета
$lineHeight: 26px;


// Основные цвета
$mainColor: rgba(0, 0, 0, 0.87); // Цвет шрифта по умолчанию
$primaryColor: #F4E041;
$secondaryColor: #00BDD3;
$backgroundColor: #F8F8F8;
$errorColor: #CB3D40;

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320px;
// Ширина полотна (макета)
$maxWidth: 2560px;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1170px;
// Общий отступ у контейнера
// (15px слева и справа, 0 = нет отступа)
$containerPadding: 16px;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: $containerWidth; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 479.98px; // Телефоны S


// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "./null.scss";

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  // Прижимаем footer
  >main {
    flex: 1 1 auto;
  }

  // Фикс для слайдеров
  >* {
    min-width: 0;
  }
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

// Отзывчивая
[class*="__container"] {
  @if ($maxWidthContainer>0) {
    max-width: $maxWidthContainer;
    box-sizing: content-box;
    margin: 0 auto;
  }

  @if ($containerPadding>0) {
    padding: 0 $containerPadding;
  }
}

@import "common.scss";
@import "components/Header/header.scss";
@import "components/MainPage/mainPage.scss";
@import "components/GetRequest/GetRequest.scss";
@import "components/PostRequest/PostRequest/postReques.scss";
@import "components/PostRequest/PostFormik/postFormik.scss";